<!-- Nuevo Navbar -->
<nav class="navbar navbar-expand-md navbar-simple" role="navigation" aria-label="Secondary Navigation">
  <div class="w-100 h-100 d-flex justify-content-end">
  <div class="navbar-buttons d-flex align-items-center gapx-1">
    <ds-themed-search-navbar class="navbar-collapsed"></ds-themed-search-navbar>
    <ds-themed-lang-switch class="navbar-collapsed"></ds-themed-lang-switch>
    <ds-themed-auth-nav-menu class="navbar-collapsed"></ds-themed-auth-nav-menu>
  </div>
  </div>
</nav>

<div class="container d-flex justify-content-center align-items-center">
  <div>
    <a class="logo-link" routerLink="/home">
      <img src="assets/images/logo.jpg" [attr.alt]="'menu.header.image.logo' | translate" class="logo-img" />
    </a>
  </div>
  <div class="separator"></div>
  <div class="repo-text">Repositorio<br/>Digital</div>
</div>
<nav class="navbar2">
  <ul class="navbar-menu">
    <li><a href="/home">Inicio</a></li>
    <li *ngIf="(isXsOrSm$ | async) && (isAuthenticated$ | async)">
      <ds-user-menu [inExpandableNavbar]="true"></ds-user-menu>
  </li>
  <li *ngFor="let section of (sections | async)">
    <ng-container *ngComponentOutlet="(sectionMap$ | async).get(section.id)?.component; injector: (sectionMap$ | async).get(section.id)?.injector;"></ng-container>
  </li>
  </ul>
</nav>
<!---<nav [ngClass]="{'open': !(menuCollapsed | async)}" [@slideMobileNav]="!(windowService.isXsOrSm() | async) ? 'default' : ((menuCollapsed | async) ? 'collapsed' : 'expanded')"
  class="navbar navbar-expand-md navbar-light p-0 navbar-container" role="navigation" [attr.aria-label]="'nav.main.description' | translate">
  <div class="navbar-inner-container w-100 h-100" [class.container]="!(isXsOrSm$ | async)">
    <div id="collapsingNav" class="w-100 h-100">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 h-100">
        <li *ngIf="(isXsOrSm$ | async) && (isAuthenticated$ | async)">
            <ds-user-menu [inExpandableNavbar]="true"></ds-user-menu>
        </li>
        <li *ngFor="let section of (sections | async)">
          <ng-container *ngComponentOutlet="(sectionMap$ | async).get(section.id)?.component; injector: (sectionMap$ | async).get(section.id)?.injector;"></ng-container>
        </li>
      </ul>
    </div>
    <div class="navbar-buttons d-flex align-items-center gapx-1">
      <ds-context-help-toggle class="navbar-collapsed"></ds-context-help-toggle>

      <ds-impersonate-navbar class="navbar-collapsed"></ds-impersonate-navbar>
    </div>
  </div>
</nav>--->
