nav.navbar {
  align-items: baseline;

  .navbar-inner-container {
    border-top: 1px var(--ds-header-navbar-border-top-color) solid;
  }
}

.navbar-nav {
  background-color: var(--ds-navbar-bg);
}

/** Mobile menu styling **/
@media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
  .navbar {
    width: 100vw;
    background-color: var(--bs-white);
    position: absolute;
    overflow: hidden;
    height: 0;
    z-index: var(--ds-nav-z-index);
    &.open {
      height: 100vh; //doesn't matter because wrapper is sticky
      border-bottom: 5px var(--ds-header-navbar-border-bottom-color) solid; // open navbar covers header-navbar-wrapper border
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .reset-padding-md {
    margin-left: calc(var(--bs-spacer) / -2);
    margin-right: calc(var(--bs-spacer) / -2);
  }
}

/* TODO remove when https://github.com/twbs/bootstrap/issues/24726 is fixed */
.navbar-expand-md.navbar-container {
  @media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
    > .navbar-inner-container {
      padding: 0 var(--bs-spacer);
      a.navbar-brand {
        display: none;
      }
      .navbar-collapsed {
        display: none;
      }
    }
    padding: 0;
  }
  height: 80px;
}

a.navbar-brand {
  max-height: var(--ds-header-logo-height);
}

.navbar-nav {
  ::ng-deep a.nav-link {
    color: var(--ds-navbar-link-color);

    &:hover, &:focus {
      color: var(--ds-navbar-link-color-hover);
    }
  }
}

//MI CODIGO
.navbar-simple {
  background-color: #B0076D; 
  
}

.navbar-brand2 {
  display: flex;
  align-items: center; 
}


.logo-img {
  max-height: 180px; 
  width: auto; 
}

/* Estilos para centrar la imagen en toda la pantalla */

.container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

/* Estilos para el separador */
.separator {
  width: 2px;
  height: 50px; 
  background-color: #3A393A; 
  margin: 0 20px; 
}

/* Estilos para el texto Repositorio Digital */
.repo-text {
  text-align: center;
  font-size: 20px; 
}

.navbar2 {
  padding: 10px 0; /* Espaciado interior del navbar */
}

.navbar-menu {
  list-style: none; /* Quita los puntos de lista */
  padding: 0;
  text-align: center; /* Centra los elementos horizontalmente */
}

.navbar-menu li {
  display: inline-block; /* Los elementos se muestran en línea */
  margin-right: 20px; /* Espacio entre los elementos */
}

.navbar-menu li:last-child {
  margin-right: 0; /* Quita el margen del último elemento */
}

.navbar-menu li a {
  color: #333; /* Color del texto */
  text-decoration: none; /* Quita el subrayado del enlace */
  padding: 5px 10px; /* Espaciado interior del enlace */
  
}

